section {
  padding-top: 128px;
  position: relative;
}

.navbar {
  background-color: #579bb1;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 10;
}

.home h1 {
  font-size: 72px;
}

.home h3 {
  font-size: 48px;
}

.nama-profil {
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.btn.hover {
  transition: 0.3s;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn.hover:hover {
  background-color: black;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.24);
  transform: translateY(-3px);
  color: white;
}

.btn.hover:active {
  background-color: white;
  color: black;
}

.btn.hover:checked {
  background-color: white;
  color: black;
}

.home .arrow img {
  width: 50px;
}

.about-exp-item {
  margin-top: 32px;
}

.about-exp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section::before {
  z-index: -1;
  content: '';
  font-size: 67px;
  color: rgb(0, 0, 0);
  opacity: 0.25;
  position: absolute;
  top: 15px;
  left: -26px;
  font-weight: bold;
}

.about::before {
  content: 'About';
}

.about-exp-item-detail {
  display: none;
}

#arrow {
  animation: upDown 1s infinite;
}

#work {
  margin-top: 1em;
}

.work::before {
  content: 'Work';
}

.work-img img {
  width: 100%;
}

.work-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'satu dua' 'tiga tiga';
  gap: 0.5em;
}

#satu {
  grid-area: satu;
}

#dua {
  grid-area: dua;
}

#tiga {
  grid-area: tiga;
}

#satu:hover::after {
  content: 'Web Project';
}

#dua:hover::after {
  content: 'Project web mobile';
}

#tiga:hover::after {
  content: 'Web Development';
}

.work-img-item {
  position: relative;
  transition: 0.5s;
}

.work-img-item:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 250px;
  transition: 0.3s;
  border-radius: 5px;
}

#contact::before {
  content: 'Contact';
}

.contact_form {
  border: 1px solid black;
  padding: 4em 2em;
  border-radius: 10px;
}

.contact {
  padding-bottom: 128px;
}

.form-label {
  font-weight: 700;
}

.txt {
  font-weight: 600;
  font-size: 13px;
  margin: 0.5em;
}

.home img {
  width: 100%;
}

.footer {
  background-color: #e1d7c6;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.ilus {
  width: 300px;
  height: 250px;
  background-color: #e1d7c6;
  display: block;
  z-index: -1;
  position: absolute;
  top: 200px;
  left: 120px;
  border-radius: 500%;
}

.profil-img {
  animation: rightIn 1s both;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes rightIn {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@media screen and (max-width: 750px) {
  #home .profil-img {
    margin: auto;
    width: 70%;
    display: block;
  }
  #home .fw-semibold {
    font-size: 35px;
    text-align: center;
    margin-top: 0.5em;
  }
  #home .fw-bold {
    font-size: 3rem;
    text-align: center;
  }
  #home .home-text {
    text-align: center;
  }
  .btn {
    text-align: center;
    display: block;
  }
  .about::before {
    content: 'About';
    left: 0.2em;
    font-size: 50px;
    top: 1em;
  }
  .work::before {
    content: 'Work';
    left: 0.2em;
    font-size: 50px;
    top: 1em;
  }
  #contact::before {
    content: 'Contact';
    left: 0.2em;
    font-size: 50px;
    top: 1em;
  }
  .txt {
    font-weight: 600;
    font-size: 10px;
  }
  .ilus {
    display: none;
  }
  #skill img {
    width: 40px;
  }
  #skill::before {
    content: 'Skill';
    left: 0.2em;
    font-size: 50px;
    top: 1em;
  }
}
